:443, love.aidan.us.kg #你的域名
tls example@example.com #你的邮箱
route {
 forward_proxy {
   basic_auth lookme dong.1314 #用户名和密码
   hide_ip
   hide_via
   probe_resistance
  }
 #支持多用户

 reverse_proxy  https://demo.cloudreve.org  { #伪装网址
   header_up  Host  {upstream_hostport}
   header_up  X-Forwarded-Host  {host}
  }
}